
progress::-moz-progress-bar {



}
progress::-webkit-progress-value {
    width: 100%;
    height: 1rem;
    overflow: hidden;
    border-radius: .25rem;
    background: #0f2442;
}
progress { color: black; }

