<app-navbar></app-navbar>
<div *ngIf="currentUser$ | async as currentUser; else loading">
  <h2>{{ currentUser.username }}'s Details </h2>
  <ul class="list-inline">
    <li class="list-group-item">UserName: {{ currentUser.username}}</li>
    <li class="list-group-item">Date Of Birth: {{ currentUser.dob }}</li>
    <li class="list-group-item">Gender: {{ currentUser.gender }}</li>
  </ul>
</div>
<!--- Template for loading data--->
<ng-template #loading>
  <h2>Angular - else templates</h2>
  <h3>loading user data...</h3>
</ng-template>


