<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Users</title>
</head>
<body>
<div class="container">
    <h1 class="jumbotron">Users</h1>
    <p><a href="/users/add" class="btn btn-primary">Add New User</a></p>
    <table class="table table-hover mt-3">
        <thead>
        <tr>
            <th>Name</th>
            <th>Password</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody th:each="user: ${users}">
        <tr>
            <td th:text="${user.username}"></td>
            <td th:text="${user.password}"></td>
            <td><a th:href="@{'/users/edit/' + ${user.id}}">Edit</a></td>
            <td><a th:href="@{'/users/delete/' + ${user.id}}">Delete</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>