<div class="container">
        <div class="container" style="margin-top: 30px">
            <div class="list-group-item" style="background-color: #0f2442; color: white"><b> Feeds : </b></div>
            <ul class="list-group" *ngFor="let feed of feeds">
                <li class="list-group-item" *ngIf="feed.action=='FOLLOW'">
                    <b [routerLink]="['/profile', feed.user.id]">{{feed.user.username}}</b>
                    Followd :
                    <b [routerLink]="['/profile', feed.targetUser.id]">{{feed.targetUser.username}}</b>
                </li>
                <li class="list-group-item" *ngIf="feed.action=='COMMENT'">
                    <b [routerLink]="['/profile', feed.user.id]">{{feed.user.username}}</b>
                    Comments : {{feed.targetComment.comment}} On
                    <b [routerLink]="['/events', feed.targetComment.event.id]">{{feed.targetComment.event.name}}</b>
                </li>
                <li class="list-group-item" *ngIf="feed.action=='BOOK'">
                    <b [routerLink]="['/profile', feed.user.id]">{{feed.user.username}}</b>
                    Book a ticket On
                    <b [routerLink]="['/events', feed.targetEvent.id]">{{feed.targetEvent.name}}</b>
                </li>
                <li class="list-group-item" *ngIf="feed.action=='VOTE'">
                    <b [routerLink]="['/profile', feed.user.id]">{{feed.user.username}}</b>
                    voted for
                    <b [routerLink]="['/events', feed.targetEvent.id]">{{feed.targetEvent.name}}</b>
                </li>

                <li class="list-group-item" *ngIf="feed.action=='ADD_EVENT'">
                    <b [routerLink]="['/profile', feed.user.id]">{{feed.user.username}}</b>
                    Adds new Event :
                    <b [routerLink]="['/events', feed.targetEvent.id]">{{feed.targetEvent.name}}</b>
                </li>
                <li class="list-group-item" *ngIf="feed.action=='RATE'">
                    <b [routerLink]="['/profile', feed.user.id]">{{feed.user.username}}</b>
                    Rate an Event :
                    <b [routerLink]="['/events', feed.targetRate.event.id]">{{feed.targetRate.event.name}}</b>
                    With : {{feed.targetRate.rate}}/5 Stars !
                </li>

            </ul>
    </div>
</div>