<app-navbar></app-navbar>
<div class="container">
    <div class="main-login main-center">

    <div class="table-responsive">
        <table class="table">
            <h3 style="color: #0f2442; font-style: oblique">My Tickets</h3>
            <tr>
                <th>Username</th>
                <th>Event Name</th>
                <th>Event Date</th>
                <th>Cancel/Rate</th>
            </tr>
            <tr *ngFor="let ticket of tickets$ | async">
                <td>{{ticket.user.username}}</td>
                <td>{{ticket.event.name}}</td>
                <td>{{ticket.event.date}}</td>
                <td *ngIf="!ticket.chicked">
                    <button class="btn" (click)="cancel(ticket.id)">Cancel</button>
                </td>
                <td *ngIf="ticket.chicked">
                    <select #ratevalue class="selectable" id="ratevalue" name="ratevalue">
                        <option value="" disabled>Select Rate</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    <button style="margin: 10px" class="btn" (click)="rate(ratevalue.value,ticket.event.id)">Rate</button>
                </td>

            </tr>

        </table>
    </div>
    </div>
</div>