<app-navbar (booleanGenerated)="onBooleanGenerated($event)"></app-navbar>

<div class="container" *ngIf="currentUser">
    <h2 align="center" style="margin-bottom: 2%">{{ currentUser.username }}'s Details </h2>
    <div class="row">
        <div class="col-md-6 img">
            <img class="rounded-circle img-fluid d-block mx-auto" style="max-width: 200px"
                 src="/api/file/downloadFile/{{currentUser.icon}}" alt="">
        </div>
        <div class="col-md-6 details">
            <blockquote>
                <h5>{{currentUser.username}}</h5>

            </blockquote>
            <p>
                {{currentUser.gender}}<br>
                {{currentUser.dob}}<br>
                <button style="margin-top: 20px" *ngIf="!followed&&id!=myId" class="btn" (click)="follow()">Follow
                </button>
                <button style="margin-top: 20px" *ngIf="followed" class="btn" (click)="unfollow()">Following</button>
            </p>
        </div>
    </div>


        <div class="container">
            <div class="list-group-item" style="background-color: #0f2442; color: white"><b> Feeds : </b></div>
            <ul class="list-group" *ngFor="let feed of feeds">
                <li class="list-group-item" *ngIf="feed.action=='FOLLOW'">
                    <b (click)="nav(feed.user.id)">{{feed.user.username}}</b>
                    Follow :
                    <b (click)="nav(feed.targetUser.id)">{{feed.targetUser.username}}</b>
                </li>
                <li class="list-group-item" *ngIf="feed.action=='COMMENT'">
                    <b (click)="nav(feed.user.id)">{{feed.user.username}}</b>
                    Comments : {{feed.targetComment.comment}} On
                    <b [routerLink]="['/events', feed.targetComment.event.id]">{{feed.targetComment.event.name}}</b>
                </li>
                <li class="list-group-item" *ngIf="feed.action=='BOOK'">
                    <b (click)="nav(feed.user.id)">{{feed.user.username}}</b>
                    Book a ticket On
                    <b [routerLink]="['/events', feed.targetEvent.id]">{{feed.targetEvent.name}}</b>
                </li>
                <li class="list-group-item" *ngIf="feed.action=='VOTE'">
                    <b [routerLink]="['/profile', feed.user.id]">{{feed.user.username}}</b>
                    voted for
                    <b [routerLink]="['/events', feed.targetEvent.id]">{{feed.targetEvent.name}}</b>
                </li>
                <li class="list-group-item" *ngIf="feed.action=='ADD_EVENT'">
                    <b (click)="nav(feed.user.id)">{{feed.user.username}}</b>
                    Adds new Event :
                    <b [routerLink]="['/events', feed.targetEvent.id]">{{feed.targetEvent.name}}</b>
                </li>
                <li class="list-group-item" *ngIf="feed.action=='RATE'">
                    <b (click)="nav(feed.user.id)">{{feed.user.username}}</b>
                    Rate an Event :
                    <b [routerLink]="['/events', feed.targetRate.event.id]">{{feed.targetRate.event.name}}</b>
                    With : {{feed.targetRate.rate}}/5 Stars !
                </li>
            </ul>
        </div>
</div>

<div class="main-login main-center" *ngIf="err">
    <h2>User not found!</h2>
</div>


